@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600");

$dark-grey: #2C2E43;
$grey: #595260;
$light-grey: #B2B1B9;
$white: #FFF;

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey;
  color: $white;

  #header h1 {
    margin-bottom: 1em;
    font-size: 3em;
    text-align: center;
  }

  .wrapper {
    width: 100%;
    padding: 0 6em;

    .card-wrapper {
      width: 50%;
      float: left;
      
      .card {
        height: 70vh;
        margin: 0 1em;
        padding: .5em 1em 1em;
        color: $grey;

        .toolbar {
          border-bottom: 2px solid $grey;
          color: $dark-grey;

          h2 {
            display: flex;
            align-items: center;
            margin-top: .2em;
            font-size: 1em;
            font-weight: 600;

            svg {
              margin: 0 .6em 0 .4em;
            }
          }
        }

        .text {
          height: 100%;
          margin-top: 1em;
          border: none;
          color: inherit;
          overflow-y: scroll;
          resize: none;

          &:focus {
            border-radius: 3px;
            box-shadow: 0 0 2px $grey;
            outline: none;
          }
        }
      }
    }
  }

  #footer {
    clear: both;
    padding-top: 1.6em;
    text-align: center;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
