$dark-grey: #2C2E43;
$grey: #595260;
$light-grey: #B2B1B9;
$white: #FFF;

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey;
  color: $white;

  #header h1 {
    margin-bottom: 1em;
    font-size: 3em;
    text-align: center;
  }

  .wrapper {
    width: 100%;
    padding: 0 6em;

    .card-wrapper {
      width: 50%;
      float: left;
      
      .card {
        height: 70vh;
        margin: 0 1em;
        padding: .5em 1em 1em;
        color: $grey;

        .toolbar {
          border-bottom: 2px solid $grey;
          color: $dark-grey;

          svg {
            margin: 0 .6em 0 .4em;
          }

          h2 {
            float: left;
            display: flex;
            align-items: center;
            margin-top: .2em;
            font-size: 1em;
            font-weight: 600;
          }
          
          .tools {
            float: right;
            display: flex;
            align-items: center;

            span {
              display: flex;
              padding: 0.2em 0;

              svg {
                border-radius: 3px;
                margin-right: 0;
                cursor: pointer;
                &:hover {
                  color: $grey;
                }
                &:last-of-type {
                  margin-right: .4em;
                }
              }
            }
            
            .vertical-divider {
              display: inline;
              height: 18px;
              margin: 0 .4em 0 .8em;
              border-right: 1px solid $light-grey;
            }
          }
        }

        .text {
          height: 100%;
          margin-top: 1em;
          border: none;
          color: inherit;
          overflow-y: scroll;
          resize: none;
          &:focus {
            border-radius: 3px;
            box-shadow: 0 0 2px $grey;
            outline: none;
          }
        }

        #preview {
          h1, h2 {
            border-bottom: 2px solid $dark-grey;
            padding-bottom: .2em;
          }

          h2 {
            border-bottom-width: 1px;
          }

          blockquote {
            margin-left: 1em;
            padding-left: .5em;
            border-left: 3px solid $dark-grey;
          }

          table {
            th, td {
              border: 2px solid $dark-grey;
              padding: .2em .6em;
            }
          }

          &> ul {
            margin: 1em auto;
          }

          img {
            width: 100%;
            margin: 1em auto;
          }
        }
      }
    }
  }

  #footer {
    clear: both;
    padding-top: 1.6em;
    text-align: center;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
